
.ipynb_checkpoints/benchmark-checkpoint.ipynb
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/irp-bp221.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.github/workflows/project-plan.yml
.github/workflows/presentation.yml
.github/workflows/info.yml
.github/workflows/final-report.yml
.github/test_irp_admin.py
.DS_Store
sphnix/*
*.pyc
wandb/*
reports/*